* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-image: url("../images/bg-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: auto;
  overflow-x: hidden;
  max-width: 100%;
  position: relative;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: #fff;
}
ul {
  list-style-type: none;
}
.container {
  width: 95%;
  padding: 0 30px;
}
button {
  padding: 9px 15px;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  border: none;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  font-size: 16px;
}

/* static */
.container .title {
  position: relative;
  margin: 30px auto;
  padding: 20px 0;
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
}
.container .title span {
  color: #30c9e8;
}
.container .title::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #30c9e8;
  bottom: 5px;
  left: 49.5%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.container .info {
  text-align: center;
  font-size: 16px;
  width: 60%;
  margin: 10px auto;
  text-transform: capitalize;
  line-height: 1.8;
  color: grey;
}
.container .info span {
  color: #30c9e8;
}
/* زر الصعود */
.up {
  z-index: 9999;
  position: fixed;
  top: 91%;
  left: 95%;
  background-color: transparent;
  font-size: 32px;
  color: goldenrod;
  text-shadow: 0 0 3px #333;
  filter: drop-shadow(5px 5px 5px #333);
  -webkit-filter: drop-shadow(5px 5px 5px #333);
  animation: up 0.1s infinite cubic-bezier(0.25, 0.45, 0.4, 1.4);
  -webkit-animation: up 5s infinite cubic-bezier(0.25, 0.45, 0.4, 1.4);
  display: none;
}
@keyframes up {
  0% {
    transform: scale(1) rotate(0);
    -webkit-transform: scale(1) rotate(0);
    -moz-transform: scale(1) rotate(0);
    -ms-transform: scale(1) rotate(0);
    -o-transform: scale(1) rotate(0);
  }
  50% {
    transform: scale(1.2) rotate(10deg);
    -webkit-transform: scale(1.2) rotate(10deg);
    -moz-transform: scale(1.2) rotate(10deg);
    -ms-transform: scale(1.2) rotate(10deg);
    -o-transform: scale(1.2) rotate(10deg);
  }
  100% {
    transform: scale(1) rotate(0);
    -webkit-transform: scale(1) rotate(0);
    -moz-transform: scale(1) rotate(0);
    -ms-transform: scale(1) rotate(0);
    -o-transform: scale(1) rotate(0);
  }
}
@media screen and (max-width: 991px) {
  .up {
    left: 89%;
    top: 93%;
  }
}
/* ************************************************************************************************* */
/* head */
.head {
  position: relative;
  height: 110vh;
  background-image: url("../images/bg-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}
.head .next {
  position: absolute;
  right: 0;
  top: 50%;
}
.head .prev {
  position: absolute;
  left: 0;
  top: 50%;
}
.head .navbar {
  background-color: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
}
.head .navbar .container {
  width: 90%;
  padding: 0px 15px;
  color: #fff;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.head .navbar .container .logo {
  font-size: 26px;
  letter-spacing: 2px;
  margin-left: 25px;
}
.head .navbar .container ul {
  margin-left: 50px;
  font-size: 14px;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.head .navbar .container ul li {
  margin: 0 12px;
  font-weight: 600;
  padding: 20px 0 20px 5px;
}
.head .navbar .container ul li .active {
  color: #30c9e8;
}
.head .navbar .container ul li a:hover {
  color: #30c9e8;
}
.head .navbar .container .bars {
  display: none;
}
.head .container .innerInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
}
.head .container .innerInfo h2 {
  font-weight: 400;
  line-height: 1.8;
  font-size: 54px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.head .container .innerInfo p {
  width: 55%;
  margin: auto;
  font-size: 14px;
}
.head .container .innerInfo button {
  margin: 25px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.head .container .innerInfo button:hover {
  background-color: #30c9e8;
  color: #fff;
}
.blackColor {
  color: #333 !important;
}

.open {
  display: block !important;
}

@media screen and (max-width: 767px) {
  .head .container {
    width: 100%;
    margin: 15px auto;
  }
  .head .container .navbar .logo {
    font-size: 22px;
    padding: 15px 0;
  }
  .head .container .innerInfo h2 {
    font-size: 32px;
  }
  .head .container .innerInfo p {
    width: 70%;
    margin: auto;
    font-size: 12px;
  }
}
@media screen and (max-width: 991px) {
  .head .navbar .container .bars {
    display: block;
    cursor: pointer;
    margin: 8px;
  }
  .head .container .navbar .logo {
    font-size: 22px;
    padding: 15px 0;
  }
  .head .navbar .container ul {
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #303030;
    width: 100%;
    height: 345px;
    display: none;
    z-index: 999999;
  }
  .head .navbar .container ul li {
    border-bottom: 1px solid grey;
    width: 100%;
    margin: auto;
  }
  .head .navbar .container ul li:hover {
    background-color: #707183;
  }
}

/* head */

/* about */
.about {
  background-color: #fff;
  margin: 0 0 40px;
  padding: 30px 0;
}
.about .departs {
  width: 90%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 15px;
}
.about .departs .part {
  position: relative;
  width: 96%;
  margin: 20px 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about .departs .part .overicon {
  color: #c0c0c056;
  position: absolute;
  top: 0;
  left: 40px;
  font-size: 70px;
}
.about .departs .part .icon {
  color: #30c9e8;
  font-size: 36px;
  z-index: 999;
}
.about .departs .part .explain {
  margin-left: 21px;
  z-index: 999;
}
.about .departs .part .explain h4 {
  margin-bottom: 10px;
  text-transform: uppercase;
}
.about .departs .part .explain p {
  color: grey;
  font-size: 14px;
  line-height: 1.2;
}
/* تخصيص */
.about .departs .part4 .icon {
  font-size: 30px;
}
.about .departs .part4 .explain {
  margin-left: 19px;
}
.counting {
  height: 150px;
  margin: 50px 0;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: transparent;
}
.counting .count {
  height: 120px;
  width: 200px;
  background-color: #ffffffd3;
  box-shadow: 0 0 3px 1px #8b8b8b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.counting .count h2 {
  font-size: 30px;
  color: #30c9e8;
}
.counting .count p {
  margin: 10px;
  font-size: 14px;
  color: grey;
  position: relative;
  text-align: center;
}
.counting .count p::after {
  content: "";
  height: 2px;
  width: 30px;
  background-color: #30c9e8;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

@media screen and (max-width: 767px) {
  .about {
    width: 100%;
    margin: 0 auto;
  }
  .about .container {
    width: 95%;
    margin: auto;
  }
  .container .title {
    font-size: 30px;
  }
  .container .info {
    font-size: 14px;
    width: 90%;
  }
  .about .departs {
    width: 100%;
    margin: auto;
    grid-template-columns: 1fr;
    justify-content: flex-start;
  }
  .about .departs .part {
    width: 75%;
    margin: auto;
  }
  .counting {
    flex-direction: column;
    height: auto;
  }
  .counting .count {
    margin: 10px;
  }
}
@media screen and (min-width: 992px) {
  .container .info {
    font-size: 14px;
    width: 95%;
  }
  .about .departs {
    width: 90%;
    margin-left: -20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  .about .departs .part {
    width: 99%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .about {
    width: 100%;
    margin: 0 auto;
  }
  .about .container {
    width: 95%;
    margin: 0 auto;
  }
  .container .info {
    font-size: 14px;
    width: 95%;
  }
  .about .departs {
    width: 75%;
    margin: auto;
  }
}
@media screen and (min-width: 1200px) {
  .about .departs {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }
}

/* about */

/* team */
.team {
  background-color: #e3e3e3;
  padding: 30px 0;
}
.team .team-member-pic {
  margin: 50px auto 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 25px;
}
.team .team-member-pic .member {
  position: relative;
  box-shadow: 0 0 3px 1px #8b8b8b;
  height: 350px;
}
.team .team-member-pic .member img {
  height: 100%;
}
.team .team-member-pic .member .member-icon {
  position: absolute;
  bottom: 0;
  background-color: #ffffffd8;
  width: 100%;
  padding: 12px 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  cursor: pointer;
}
.team .team-member-pic .member .member-icon i:hover {
  color: #30c9e8;
  transition: all 0.5s;
}
.team .team-member-pic .member .name-job {
  text-transform: uppercase;
  color: #333;
  font-weight: 500;
}
.team .team-member-pic .member .name-job p:last-child {
  font-size: 13px;
}
@media screen and (max-width: 767px) {
  .team {
    width: 100%;
    margin: 0 auto;
  }
  .team .container {
    width: 100%;
    margin: 0 auto;
  }
  .team .team-member-pic {
    flex-direction: column;
  }
  .team .team-member-pic .member {
    margin-bottom: 35px;
  }
}
@media screen and (min-width: 992px) {
  .team .team-member-pic {
    margin-left: 50px;
  }
  .team .team-member-pic .member {
    width: 250px;
  }
  .team .team-member-pic .member img {
    width: 250px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .team {
    width: 100%;
    margin: 0 auto;
  }
  .team .container {
    width: 100%;
    margin: 0 auto;
  }
  .team .team-member-pic .member {
    width: 225px;
  }
  .team .team-member-pic .member img {
    width: 225px;
  }
}
/* team */

/* services */
.services {
  background-color: #fff;
  margin-top: -1px;
  padding: 30px 0;
}
.services .services-departs {
  margin: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 15px;
}
.services .services-departs .service-part {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 90%;
  margin: 10px 0;
}
.services .services-departs .service-part .ser-icon {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #30c9e8;
  color: #30c9e8;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.services .services-departs .service-part .ser-explain {
  width: 86%;
}
.services .services-departs .service-part .ser-explain h4 {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 10px;
}
.services .services-departs .service-part .ser-explain p {
  font-size: 14px;
  color: grey;
}
.services .services-slider {
  background-image: url("../images/bg-3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  position: relative;
  margin: 25px 0;
}
.services .services-slider .container .slides {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  text-align: center;
}
.services .services-slider .container .slides img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  box-shadow: 0 0 3px 2px #555;
}
.services .services-slider .container .slides p {
  color: white;
  line-height: 1.4;
  margin: 15px 0;
}
.services .services-slider .container .slides span {
  color: #30c9e8;
  text-transform: uppercase;
  text-shadow: 0 0 4px #333;
}
.services .services-slider .container .slides button {
  border: none;
  outline: none;
  background-color: transparent;
  color: #fff;
  position: absolute;
  font-size: 28px;
}
.services .services-slider .container .slides button.next {
  top: 15px;
  right: 0;
}
.services .services-slider .container .slides button.prev {
  top: 15px;
  left: 0;
}

@media screen and (max-width: 767px) {
  .services {
    width: 100%;
    margin: 0 auto;
  }
  .services .container {
    width: 100%;
    margin: 0 auto;
  }
  .services .services-departs {
    justify-content: center;
  }
  .services .services-departs .service-part {
    width: 80%;
    margin: auto;
    flex-direction: column;
    text-align: center;
  }
  .services .services-slider .container .slides {
    text-align: center;
  }
  .services .services-slider .slides p {
    font-size: 15px;
    width: 150%;
    position: relative;
    left: -50px;
    letter-spacing: 1px;
  }
  .services .services-slider .container .slides span {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
  }
}
@media screen and (min-width: 992px) {
  .services .services-departs {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    margin-left: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .services {
    width: 100%;
    margin: 0 auto;
  }
  .services .container {
    width: 100%;
    margin: 0 auto;
  }
  .services .services-departs {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .services .services-slider .slides p {
    font-size: 14px;
    width: 150%;
    position: relative;
    left: -50px;
    letter-spacing: 1px;
  }
}

/* services */

/* pricing */
.pricing .price-boxs {
  margin: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.pricing .price-boxs .box {
  border: 1px solid lightgrey;
  width: calc(100% / 3 - 60px);
  text-align: center;
  background-color: #eeeeeec5;
  margin-bottom: 10px;
}
.pricing .price-boxs .box .header {
  padding: 12px;
  background-color: #333;
  color: #fff;
  text-transform: uppercase;
}
.pricing .price-boxs .box2 .header {
  background-color: #30c9e8;
}
.pricing .price-boxs .box .price {
  padding: 12px;
  background-color: #c0c0c0c9;
}
.pricing .price-boxs .box .price p {
  font-size: 22px;
  font-weight: 700;
}
.pricing .price-boxs .box .price small {
  color: #333;
  font-size: 14px;
  font-weight: 500;
}
.pricing .price-boxs .box ul li {
  padding: 15px;
  border-bottom: 1px solid lightgrey;
}
.pricing .price-boxs .box button {
  background-color: #ddd;
  margin: 12px;
  padding: 12px 15px;
  border: 2px solid #333;
}
.pricing .price-boxs .box2 button {
  border-color: #30c9e8;
}
.pricing .price-boxs .box button:hover {
  background-color: #707183;
  color: #fff;
}
.pricing-more {
  background-color: #30c9e8;
  padding: 30px;
  text-align: center;
}
.pricing-more h3 {
  margin: 12px;
  color: #fff;
  font-weight: 600;
}
.pricing-more button {
  font-size: 14px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.pricing-more button:hover {
  background-color: #fff;
  color: #30c9e8;
}
@media screen and (max-width: 767px) {
  .pricing .container {
    width: 100%;
    margin: 0 auto;
  }
  .pricing .price-boxs {
    flex-direction: column;
  }
  .pricing .price-boxs .box {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .pricing .price-boxs .box {
    width: calc(100% / 3 - 20px);
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .pricing .price-boxs .box {
    width: calc(100% / 3 - 10px);
    font-size: 16px;
  }
  .pricing .price-boxs .box button {
    padding: 8px 10px;
  }
}
/* pricing */

/* portfoli */
.portfolio {
  background-color: #fff;
  margin-top: -30px;
  padding-bottom: 30px;
}
.portfolio .port-gallery {
  width: 83%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin: 30px auto;
}
.port-gallery:hover img:not(:hover) {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

@media screen and (max-width: 767px) {
  .portfolio .container {
    width: 100%;
    margin: 0 auto;
  }
  .portfolio .port-gallery {
    justify-content: center;
  }
}
@media screen and (min-width: 992px) {
  .portfolio .port-gallery {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
  }
  .portfolio .port-gallery img {
    width: 227px;
    height: 200px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .portfolio .container {
    width: 100%;
    margin: 0 auto;
  }
  .portfolio .port-gallery {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-content: center;
    text-align: center;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio .port-gallery {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  .portfolio .port-gallery img {
    width: 300px;
    height: 250px;
  }
}
/* portfoli */

/* blog */
.blog {
  background-color: #fff;
  margin-top: -30px;
  padding-bottom: 30px;
}
.blog .news {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}
.blog .news .pics {
  background-repeat: no-repeat;
  height: 300px;
  background-size: cover;
  position: relative;
}
.blog .news .pic1,
.pic4 {
  background-image: url("../images/bg-1.jpg");
}
.blog .news .pic3 {
  background-image: url("../images/bg-3.jpg");
}
.blog .news .pic2 {
  background-image: url("../images/bg-2.jpg");
}

.blog .news .pics .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #dddddd54;
}
.blog .news .pics .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  text-align: center;
}
.blog .news .pics .text span {
  color: #30c9e8;
  font-style: italic;
  text-shadow: 0 0 3px #333;
}
.blog .news .pics .text h4 {
  margin: 15px 0;
  position: relative;
}
.blog .news .pics .text h4::after {
  content: "";
  height: 2px;
  width: 30px;
  background-color: #30c9e8;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.blog .news .pics .text small {
  color: #333;
  font-style: italic;
}
.blog .more-news {
  background-color: #fff;
  padding: 30px;
  text-align: center;
  margin: auto;
}
.blog .more-news button {
  border: 1px solid #333;
  margin: 15px;
}

/* blog */

/* contact */
.contact {
  padding: 30px;
}
.contact .contact-info {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  text-align: center;
  color: #fff;
  font-style: italic;
}

.contact .contact-info i {
  font-size: 24px;
  margin: 10px;
}
.contact .contact-form {
  margin: 50px auto;
  padding: 30px;
  width: 55%;
  background-color: #333;
  color: #fff;
  position: relative;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.49);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.contact .contact-form h3 {
  margin-bottom: 15px;
}
.contact .contact-form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
input,
textarea {
  all: unset;
  border: 1px solid lightgrey;
  padding-left: 5px;
}
input:not([type="submit"]) {
  height: 45px;
}
input[type="submit"] {
  width: 31%;
  text-align: center;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  margin-left: 65%;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.25, 0.45, 0.4, 1.4);
  -webkit-transition: all 0.5s cubic-bezier(0.25, 0.45, 0.4, 1.4);
  -moz-transition: all 0.5s cubic-bezier(0.25, 0.45, 0.4, 1.4);
  -ms-transition: all 0.5s cubic-bezier(0.25, 0.45, 0.4, 1.4);
  -o-transition: all 0.5s cubic-bezier(0.25, 0.45, 0.4, 1.4);
  padding: 10px;
}
input[type="submit"]:hover {
  background-color: #30c9e8;
}

@media screen and (max-width: 767.5px) {
  .contact {
    width: 100%;
  }
  .contact .container {
    width: 100%;
  }
  .contact .contact-info {
    flex-direction: column;
    gap: 15px;
  }
  .contact .contact-form {
    width: 115%;
    margin: 0 -15px;
    padding: 18px;
  }
  input[type="submit"] {
    font-size: 12px;
    width: 50%;
    margin: auto;
    padding: 8px 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .contact {
    width: 100%;
  }
  .contact .container {
    width: 100%;
  }
  .contact .contact-info {
    font-size: 16px;
    margin: 10px auto;
  }
  .contact .contact-form {
    width: 98%;
  }
}
/* contact */

/* footer */
.footer {
  width: 100%;
  height: auto;
  background-color: #30c9e8;
  padding: 30px;
  margin: auto;
  text-align: center;
  color: #fff;
}
.footer h2 {
  letter-spacing: 6px;
  font-weight: 400;
  font-size: 36px;
}
.footer .icons i {
  margin: 0 20px;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.24, 0.45, 0.4, 1.4);
  -webkit-transition: all 0.5s cubic-bezier(0.24, 0.45, 0.4, 1.4);
  -moz-transition: all 0.5s cubic-bezier(0.24, 0.45, 0.4, 1.4);
  -ms-transition: all 0.5s cubic-bezier(0.24, 0.45, 0.4, 1.4);
  -o-transition: all 0.5s cubic-bezier(0.24, 0.45, 0.4, 1.4);
}
.footer .icons i:hover {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  filter: drop-shadow(5px 5px 5px #333);
  -webkit-filter: drop-shadow(5px 5px 5px #333);
}
.footer span {
  color: #191b3d;
}
@media screen and (max-width: 767.5px) {
  .footer .container {
    margin: auto;
    font-size: 16px;
  }
  .footer div {
    font-size: 14px;
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .footer {
    margin: auto;
    font-size: 18px;
  }
}

.icon-link {
  color: black;
}
